{
    "tabWidth": 4,
    "semi": true,
    "arrowParens": "always",
    "printWidth": 100,
    "alwaysParens": "always",
    "singleQuote": false,
    "trailingComma": "none",
    "Semicolons": false
}
